In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('NKI_cleaned.csv')

In [3]:
df.head()

,Patient,ID,age,eventdeath,survival,timerecurrence,chemo,hormonal,amputation,histtype,...,Contig36312_RC,Contig38980_RC,NM_000853,NM_000854,NM_000860,Contig29014_RC,Contig46616_RC,NM_000888,NM_000898,AF067420
0,s122,18,43,0,14.817248,14.817248,0,0,1,1,...,0.591103,-0.355018,0.373644,-0.760690,-0.164025,-0.038726,0.237856,-0.087631,-0.369153,0.153795
1,s123,19,48,0,14.261465,14.261465,0,0,0,1,...,-0.199829,-0.001635,-0.062922,-0.682204,-0.220934,-0.100088,-0.466537,-0.231547,-0.643019,-0.014098
2,s124,20,38,0,6.644764,6.644764,0,0,0,1,...,0.328736,-0.047571,0.084228,-0.695950,-0.402840,-0.099965,0.110155,-0.114298,0.258495,-0.198911
3,s125,21,50,0,7.748118,7.748118,0,1,0,1,...,0.648861,-0.039088,0.182182,-0.524640,0.037320,-0.167688,-0.016790,-0.285344,-0.251188,0.862710
4,s126,22,38,0,6.436687,6.318960,0,0,1,1,...,-0.287538,-0.286893,0.057082,-0.565021,-0.105632,-0.108148,-0.405853,-0.053601,-0.677072,0.134160

In [6]:
col_name = list(df)
len(col_name)

1570

In [61]:
def add_noise_noint_np(x):
    sigma = 0.02 * (np.max(x) - np.min(x))
    add_Laplacian_noise = lambda n: n + np.random.laplace(0, sigma)
    return add_Laplacian_noise(x)

def add_noise_int_np(x):
    # return pd.Series(np.array(add_noise_nonint(x)).astype(int))
    return add_noise_noint_np(x).astype(int)

def add_noise_numeric_np(x):
    if x.dtype == 'int64':
        return add_noise_int_np(x)
    else:
        return add_noise_noint_np(x)

In [39]:
dict_column = {}

In [40]:
for col in col_name:
    if col == 'Patient' or col == 'ID':
        continue
    dict_column[col] = df[col].to_numpy()

In [76]:
def gen_data(multiple):
    new_df = pd.DataFrame()
    for key in dict_column:
        new_col = np.array(dict_column[key])
        for _ in range(multiple):
            # new_col = new_col.append(add_noise_numeric_np(dict_column[key]))
            new_col = np.concatenate(new_col, add_noise_numeric_np(dict_column[key]))
            # new_col = np.append(new_col, add_noise_numeric_np(dict_column[key]))
            # new_col = np.vstack((new_col, add_noise_numeric_np(dict_column[key])))
        new_df[key] = new_col
    new_df['ID'] = np.arange(len(new_df))
    return new_df

In [77]:
%%time
tmp = gen_data(10)

TypeError: only integer scalar arrays can be converted to a scalar index

In [69]:
tmp.shape

(2992, 1569)